.h3{
  color: #152370;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Noto Sans', sans-serif;
  padding-bottom: 10px;
  padding-left: 3px;
}

.container{
  padding: 30px;
  padding-top: 50px;
}
