
.nav{
  height: 60px;
  width: 100vw;
  padding: 10px;
  padding-left: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px black solid; */
  border-bottom: 2px solid rgb(218, 218, 218);
}

.logo{
  height: 28px;
}

.notification{
  height: 25px;
  font-weight: 300px;
  padding-right: 14px;
}

.user{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.profile{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 12px;
}

.profPic{
  border: 0px solid black;
  border-radius: 20px;
  height: 30px;
}

.downicon{
  height: 18px;
  font-weight: bolder;
  padding-left: 4px;
}